<h2><%= I18n.t('edit registration', :user => @walker.username, :dc_id => $current_dc_id) %></h2>
<br />
<% if !isLimit || !@registration.canceled  %>
	<%= render  'form' %>
<% else%>
	<%= render 'fullRaceNotification' %>
<% end%>
