<h2>Přihlášení k účasti na <%= $dc.id %>. Dni cesty </h2>
<% if $registration_starts %>	
	<% if !isLimit %>
    <% if map_colour? || map_bw? %>
      <p>Vzhledem k rostoucím schopnostem našeho partnera Mapy.cz na stránkách uvádíme pouze link na trasu závodu. Tištěnou verzi vřele doporučujeme, je někdy podstatným doplňkem itineráře. Obvykle se jedná o dvě až tři strany velikosti A3 potištěné z obou stran. Pokud si mapu objednáš (viz formulář) jednotlivé části mapy obdržíš na příslušné kontrole. Pokud si chceš mapu z našich podkladů vytisknout - napiš 2-3 dny před závodem, můžeme PDF verzi poskytnout.
      </p>
    <% end %>
		<% if shirt? || pes_shirt? || scarf? %>
		<p>
      Na potisku textilu aktuálně pracujeme, pokud se nestane nic neočekávaného, trika budou bílá s černým potiskem.
		</p>
		<% end %>
		<p class="red">
			Přihlášením souhlasíte s <%= link_to "pravidly", pages_rules_path %> závodu.
		</p>
		<%= render 'form' %>
	<% else %>
		<%= render 'fullRaceNotification' %>
	<% end%>
<% else %>
<p>
	Registrace ještě nezačala, upozornění Ti přijde emailem.
</p>
<% end %>
