<h2>Přihlášení k účasti na <%= $dc.id %>. Dni cesty </h2>
<% if $registration_starts %>	
	<% if !isLimit %>
		<p>Mapa (pokud si ji chceš vytisknout doma) se před startem objeví na stránkách ke stažení. Obvykle se jedná o dvě až tři strany velikosti A3 potištěné z obou stran. Pokud si mapu obědnáš (viz formulář) jednotlivé části mapy obdržíš na příslušné kontrole.
		</p>
		<p>Na potisku triček aktuálně pracujeme, pokud se nestane nic neočekávaného, trika budou černá s šedým potiskem. Pokud chceš potisknout svoje vlastní triko, tak i to je možné. Napiš organizátorům. Upozorňujeme, že trika musí být nová nesepraná (jinak kvalitu potisku nelze zaručit).
		</p>
		<p class="red">
			Přihlášením souhlasíte s <%= link_to "pravidly", pages_rules_path %> závodu.
		</p>
		<%= render 'form' %>
	<% else %>
		<%= render 'fullRaceNotification' %>
	<% end%>
<% else %>
<p>
	Registrace ještě nezačala, upozornění Ti přijde emailem.
</p>
<% end %>