<div class="dc-summary">
	<table>
		<tr><th>Start:</th><td><%= dc.start_time.localtime.strftime("%d/%m/%Y v %H:%M") %></td></tr>
		<tr><th>Počet závodníků:</th><td>dc.results</td></tr>
		<tr><th>Nejlepší výkon:</th><td>dc.best</td></tr>
		<tr><th>Průměrný výkon:</th><td>dc.average</td></tr>
		<tr><th>Nejhorší výkon:</th><td>dc.worst</td></tr>
		<tr><th>Celková vzdálenost:</th><td>dc.sum</td></tr>
		<tr><th>Trasa:</th><td>dc.description</td></tr>
		<tr><th>Design trika:</th><td>
			<% if !dc.img.nil? %>
				<%= image_tag dc.img %>
			<% end %>
		</td></tr>
	</table>
</div>
