<%#
# @author gimli
# @version Apr 25, 2012
%>

<h1 color="red">Den Cesty - jaro 2012</h1>
<h6 align="center">"Nejlepší průměr a medián v historii DC!"</h6>

Den cesty je za námi. Opravená kilometráž vypadá následovně (včetně vašich nahlášených cílů). Výhrady můžete vznášet do 7.5.2012, poté budou výsledky prohlášeny za oficiální. V závorce jsou přiznaná zkrácení podle pravidel (tj. typický kufr). Dohromady jsme ušli <b>1485,5km</b> což je průměrně <b>82,5km</b> a medián je <b>98,5km</b>. Nejlepší průměr a medián v historii DC!
<table cellpadding="5" cellspacing="1" border="1" align="center">
  <tr><th>Místo</th><th>Vzdálenost</th><th>Konec DC pro</th></tr>
  <tr><td>Brno-Obřany</td><td>0,0</td></tr>
  <tr><td>Bílovice nad Svitavou</td><td>4,5</td></tr>
  <tr><td>Babice nad Svitavou rozc.</td><td>10</td></tr>
  <tr><td>Rudice, Hájce</td><td>21</td></tr>
  <tr><td>Macocha</td><td>28</td></tr>
  <tr><td>Vavřinec</td><td>33,5</td><td>Pavel Dungl, Vojta Kapras, Petr Paščenko, Tomáš Uhlíř</td></tr>
  <tr><td>Petrovice</td><td>35,5</td></tr>
  <tr><td>Na Babylóně</td><td>42</td></tr>
  <tr><td>Boskovice, žst.</td><td>48</td><td>Ondřej Honzl</td></tr>
  <tr><td>Pastvisko</td><td>53,5</td></tr>
  <tr><td>Vísky</td><td>58</td></tr>
  <tr><td>Kladoruby</td><td>62</td></tr>
  <tr><td>Velká Roudka</td><td>70,5</td></tr>
  <tr><td>Velké Opatovice</td><td>74</td><td>Martin Popel, Jiří Pech</td></tr>
  <tr><td>Jevíčko</td><td>79,5</td><td>Vojta Jaroš</td></tr>
  <tr><td>Víska u Jevíčka</td><td>82</td></tr>
  <tr><td>Pod Hušákem</td><td>85</td></tr>
  <tr><td>Pacov</td><td>90</td></tr>
  <tr><td>Moravská Třebová, žst</td><td>98,5</td><td>Alena Bušáková, Radim Vansa, Barbora Černíková, Pavel Příhoda</td></tr>
  <tr><td>Kunčina, kostely</td><td>103,5</td><td>Vojta Luhan, Martin Jílek</td></tr>
  <tr><td>Nová ves, žst.</td><td>107,5</td></tr>
  <tr><td>Nad Vískou, háj.</td><td>109,5</td><td>Martin Dungl</td></tr>
  <tr><td>Nad Mladějovským hrad.</td><td>112</td></tr>
  <tr><td>Hevlíkov</td><td>114</td></tr>
  <tr><td>Andenská studánka</td><td>116,5</td><td>Eva Černohorská (-258m)</td></tr>
  <tr><td>Nad Třebovicemi, roc.</td><td>119</td><td>Adam Černoch (-258m)</td></tr>
  <tr><td>Nad Damníkovskou háj.</td><td>122,5</td></tr>
  <tr><td>Rybník, bus</td><td>128</td></tr>
  <tr><td>Česká Třebová, žst.</td><td>130</td><td>Honza Blažek (-258m)</td></tr>
</table>
