<p>25. Den cesty proběhne <b>30.4.2016</b>, startovat se bude ráno. Plánovaná trasa je <b>Nová Paka</b> -> <b>Teplice</b>. Podrobnosti se zde objeví cca začátkem prosince.</p>

Výsledky proběhlého <%= $dc.id %>. Dne cesty:
<%= render partial: "dc_results", locals: {results: @results, dc_id: $dc.id} %>
