<h1 color="red">Den Cesty - jaro 2012</h1>
<h6 align="center">"Nejkrásn?j?í Moravská ..."</h6>

<table cellspacing="5">
<tbody><tr><th width="10%">Termín </th><td>21.-22.10.2011</td></tr>
<tr><th>Start: </th><td>Brno</td></tr>
<tr><th>Pravidla:</th><td> </td></tr>
<tr><th>Cesta: </th><td>Olbramovice, Blaník, Na?eradec, Lukavec, Pacov, Pelh?imov, Horní Cerekev, Jihlava</td></tr>
<tr><th>Co po vás budu chtít:</th><td>Startovné tentokráte 30K?. Zplnomoc?ující dokument pro osoby mlad?í 18 let by m?l vypadat n?jak takto: <a href="../files/povoleniZZ.doc">potvrzení</a> (samoz?ejm? vypln?n?).</td></tr>

<tr><th>Cesta dom?:</th><td>Na cestu s sebou dostanete <a href="../files/trasa_jesen.pdf">jízdní ?ád</a> (papírov? spolu s mapou). Ale proto?e nevím, kam a? chcete dojít, p?ípadn? kdy tam budete, dopl?te si prosím spoje, které vám v n?m budou chyb?t.</td></tr>
<tr><th>Co s sebou:</th><td>Zejména pokud jdete poprvé, zami?te na stráne?ku plnou nejd?le?it?j?ích <a href="rady.php">rad</a>. Dal?í nezodpov?zené tam, zkuste ?e?it na <a href="../guestbook/guestbook.php">fóru</a>, kde vám ost?ílení chodci jist? rádi poradí. V neposlední ?ad? lze vyu?ít i zápis? z minul?ch ro?ník?.</td></tr>

<tr><th>P?ihlá?ení:</th><td> </td></tr>

 <tr><th>Plky: </th><td><a href="dc-reg.php?action=register">Registrace</a> (konec 0:00 4.10.2011). <a href="http://atrey.karlin.mff.cuni.cz/~jeffer/!view/mapa_dc/">Mapy tuna</a></td></tr>
</tbody></table>


</body></html>
