<%= t 'commertial.title' %>:
<br />
<center>
<a href="http://www.mapy.cz"><%= image_tag 'Mapy-cz-s-r-o_logo.jpg', :width => "150px" %></a>
<a href="http://www.ultratrailmb.com/"><%= image_tag 'utmb.jpg', :width => "150px" %></a>
</center>
