<h1>Contacts</h1>
<p>
In case of any problems (there will be many of them on new webpages) please contact us on email <b>info@dencesty.cz</b>.
</p>
<p>
As a forum for frequently asked questions you can use our Facebook group <a href="https://www.facebook.com/groups/456660911045261/">Den cesty</a>.
</p>
