<h1>Kontakt</h1>
V případě jakýchkoli problémů (jakože se stránkami jich bude asi jako hub po dešti) nás můžete kontaktovat na adrese <b>info@dencesty.cz</b>.

Jako fórum snadno poslouží naše facebook skupina <a href="https://www.facebook.com/groups/456660911045261/">Den cesty</a>.
