<div style="width:500px">
  <p>
    Den cesty je teréní závod na 24h během něhož, závodníkům není poskytována jakákoli podpora. Tedy žádné občerstvovací
    stanice, záchytné hospody ani odvoz účastníků, pokud už nemohou. Trasu navrhujeme tak, aby byla co nejpřímější a
    závodníci měli možnost poznat co nejpestřejší krajiny České Republiky.
  </p>
  <br />
  <h1 color="red"><%= $dc.id %>. Den cesty</h1>
  <h6 align="center"><%= $dc.name_cs %></h6>
  <p>
    30. Den cesty bude jiný než předchozí. Zvykem bývá mít start, výstřel z pistole a pak už nic. Slovy
    klasika:<br/><br/>
    <div style="text-align: center">"Žádný guláš, žádné ovace, na startu sraz, na konci nic."</div>
    <div align="right">Milan Koudelka</div>
    <br/><br/>
    Tentokrát jsme se rozhodli, že to bude obráceně; a když už, tak všechno. Takže popořadě:
  <ul>
    <li>Start nebude, cíl ano</li>
    <li>Trasu nevybírá organizátor, ale účastníci</li>
    <li>Ovace i guláš budou :)</li>
  </ul>
  </p>
  <p>Teď možná někoho napadne, že to je dost divný závod ... to byl ale DC vždycky :)
    Sestavíte si vlastní trasu, nebo se přidáte k někomu jinému. Na závod bude klasických 24h, během kterých Vámi zvolenou trasu budete muset zdolat. Cíl bude v Ústí nad Orlicí (konečnou a přesnou lokalitu zjišťujeme).</p>
  <h2>A jak na to?</h2>
  <h4>Trasa</h4>
  <p>
    V rámci závodu si můžete vybrat naprosto jakoukoli trasu, která splňuje požadavky na trasu DC, tj. je co nejpřímější (žádné okruhy schvalovat nebudeme), vede z větší části na území ČR a končí v místě cíle (viz níže). Můžete využívat pozemní komunikace, turistické trasy, lesní a polní cesty. Trasu neplánujte přes soukromé pozemky, nebezpečné úseky (velké vodní toky, skály, atd.).
  </p>
  <p>
  Vámi připravenou trasu naklikejte na mapy.cz (buď pomocí měření vzdálenosti, nebo jako trasu z -> do) a link nám pošlete emailem na info@dencesty.cz. My ji převedeme do GPX a vystavíme zde na webu (pro další zájemce).
  </p>
  <p>
    Trasu je nutné připravit nejpozději do 1.4., aby byl čas ještě na schvalovací proces. A také aby ostatní závodníci měli dost času si z vytvořených tras vybrat.
  </p>
  <h4>Start</h4>
  Start závodu bude ve vámi zvoleném místě kdykoli od <%= $dc.start_time.localtime.strftime("%H:%M %d/%m/%Y") %> (tj.
  není problém naplánovat si závod na 20 kilometrů a startovat až v 16h 27.4.).
  <h4>Hodnocení</h4>
  Obdobně jako u klasických DC budeme hodnotit pouze ujitou vzdálenost. Nové pravidlo, které si koncept vynucuje, je dosažení cíle do <%= $dc.start_time.localtime.strftime("%H:%M") %>. Kdo stanovený čas nedodrží bude diskvalifikován, takže plánujte dobře tak, abyste svůj záměr stihli (za libovolných atmosferických podmínek).
  <h4>Cíl</h4>
  Cíl bude v TJ Sokol Kerhartice - mapa. Zde bude i možnost přespání cca do neděle 11h.
  <h4>Balík na poštu - Ústí nad Orlicí 1</h4>
  <p>
  Protože je pravděpodobné, že chcete v cíli nejen sprchu, ale taky ručník (a spacák) je plán následující: Každý účastník bude mít možnost poslat si věci pomocí služby balík na poštu na pobočku české pošty <a href="https://www.postaonline.cz/detail-pobocky/-/pobocky/detail/56201">Ústí nad Orlicí 1</a>, kde balíky v sobotu ráno vyzvedneme. Prosíme, pokud máte pěnovou karimatku, dodržte způsob balení - karimatka tvořící obal, věci uvnitř. Balík bude mít tedy tvar válce o výšce shodné se šířkou karimatky. Usnadní se nám převoz i dohledávání.
  </p>
  <p>
    Balík je nutné vybavit identifikací adresáta, ovšem nezáleží na něm, pro vyzvednutí je potřeba pouze kód. Pokud uvedete náš email info@dencesty.cz a telefon 776009870 budeme mít jak kód, tak info o putování balíku. V případě, že chcete mít balík pod kontrolou sami, je nutné nám pro vyzvednutí poslat kód (ideálně 24 hodin předem, tj. v pátek 8:00 ráno). Pozor, pošta v Ústí má otevřeno pouze do 11h, tj. sami si asi balík vyzvednout nestihnete.
  </p>
</div>