<h1>Síň slávy</h1>
Námětem pro tuto stránečku je hodnocení. Hodnotit Den Cesty není vůbec jednoduché a už zdaleka ne objektivní. Jsem rád, že po 14. ročníku už se vynalezlo několik typů hodnocení. Díky Oldovi, který poctivě posbíral výkony za léta minulá se tak různé výsledkové listiny mohou stát realitou. Taktéž s novými stránkami chceme zlepšit dostupnost předchozích výsledků, proto každý kdo se zaregistruje a přihlásí se k nějakému jménu v naší databázi, bude vyslyšen a výsledky mu budou připsány.<br />
<br />
A nyní k již zavedeným žebříčkům:<br />
<h2>Koeficient DR (držitel rekordu)- oficiální hodnocení</h2>
No a jak jsem se rozhodl hodnotit. Představte si, že jeden rok padá sníh je zima
celou dobu prší a všem je zle a druhý rok je krásně svítí slunce, jdou s vámi
přátelé a navíc jste dobře vybaveni. Oba tyto roky nelze pravděpodobně srovnat.
Rozhodně tedy ne absolutně, zatímco prvý rok ujdete 80km a pomalu se doplazíte
na vlak, druhý rok ujdete 120 a ani to nebolí. Oba výkony přitom mohou být
rekordy a kdo může říci, který z nich je víc. Já ne a proto jsem zavedl pro
rekordmany koeficient DR.<br />
Jak spočtete své DR? Předně musíte některý rok ujít nejvíc ze všech účastníků,
čímž dostáváte koeficient minimálně 1. Pokud se vám toto nepodařilo ani jednou
pak máte DR0. To ovšem není konec. Vaše DR závisí navíc na tom, jak dlouho váš
rekord platí. To má dva aspekty, první: Tedy koukneme se do historie: rekordy
byly 80, 92, 87, 112, 95. Letos je rekord 98. To je nejvíc za poslední dva roky,
tedy vaše DR bude 2. Byl-li by rekord 115 pak je vaše DR 6 a byl-li 80, pak je
vaše DR 1. A stále to není konec. Druhý aspekt je budoucnost: Další roky budou
rekordy 75, 85, 100, 120.  Za tyto roky vaše DR roste také. Platila-li varianta
98km pak váš rekord platil 4 roky a tudíž budete mít DR4. Pro variantu 115 to
bude DR9 a pro variantu 80 DR2. Samozřejmě počítá se vaše nevyšší DR.<br />

<b class="green">A nyní Borci:</b><br />
<table align="center">
<tr><td class="red">Martin Dungl</td><td>DR14</td></tr>
<tr><td class="darkred">Ondřej Honzl</td><td>DR10</td></tr>
<tr><td class="darkred">Gimli</td><td>DR10</td></tr>
<tr><td class="darkorange">Martin Popel</td><td>DR8</td></tr>
<tr><td class="darkorange">Martin Pelikán</td><td>DR8</td></tr>
<tr><td class="orange">Petr Berglowiec</td><td>DR4</td></tr>
<tr><td class="orange">Vít Hanousek</td><td>DR4</td></tr>
<tr><td class="orange">Petr Komínek</td><td>DR4</td></tr>
<tr><td class="orange">Martina Pecháčková</td><td>DR4</td></tr>
<tr><td class="orange">Milan Vondrák</td><td>DR4</td></tr>
<tr><td class="yellow">Adam Černoch</td><td>DR3</td></tr>
<tr><td class="yellow">Eva Černohorská</td><td>DR3</td></tr>
<tr><td class="yellow">Honza Konopásek</td><td>DR3</td></tr>
<tr><td class="white">Alča Bušáková</td><td>DR2</td></tr>
<tr><td>Martina Vaváčková</td><td>DR1</td></tr>
<tr><td>Lenka Blažková</td><td>DR1</td></tr>
<tr><td>Pavel Houdek</td><td>DR1</td></tr>
<tr><td>Josef Tkadlec</td><td>DR1</td></tr>
<tr><td>Martin Mach</td><td>DR1</td></tr>
</table>
Shrnutí pro DR:<br />
<a href="jaro2005.php">první DC</a> - Tritas sám Chřenovice 83km<br />
<a href="podzim2005.php">druhý DC</a> - Tritas, Pausa, Evajs -> Okrouhlice 101km<br />
<a href="jaro2006.php">třetí DC</a> - Myšlenka, Gimli, Evajs, Zbyňa, Tritas, Petr a Pavel -> Písek 76km (někteří si však cestu zkrátili jiní bohužel prodloužili)<br />
<a href="podzim2006.php">čtvrtý DC</a> - Tritas, Martin & Martin -> Žichovice 108km<br />
<a href="jaro2007.php">pátý DC</a> - Olda, Gimli -> Libochovice 97km<br />
<a href="podzim2007.php">šestý DC</a> - Martina, Pepa -> Třeběnice 79,5km<br />
<a href="jaro2008.php">sedmý DC</a> - Gimli, Martina, Olda -> Jihlava 102km<br />
<a href="podzim2008.php">osmý DC</a> - Olda a Vítek, Petr, Míla a Hrášek -> Jihlava 102km<br />
<a href="jaro2009.php">devátý DC</a> - Olda a Gimli -> Žírovice 110,5km<br />
<a href="podzim2009.php">jedenáctý DC</a> - Martina -> Cheb 100,5km<br />
<a href="jaro2010.php">dvanáctý DC</a> - Tritas -> Protivín++ 124km<br />
<a href="podzim2010.php">třináctý DC</a> - Alča -> Smrkovice 108km<br />
<a href="jaro2011.php">čtrnáctý DC</a> - Martin Pelikán, Martin Mach, Gimli, Evajs -> Batelov 101,5km<br />
<a href="podzim2011.php">patnáctý DC</a> - Adam a Olda -> Cejle 112,5km<br />

<h2>Alternativní hodnocení</h2>

Všechny alternativy jsou na vyžádání od Oldy.

<ul>
<li><a href="http://www.karlin.mff.cuni.cz/~honzl/top5.html">TOP 5</a> - @autor Olda - průměr přes 7 nejlepších výkonů na DC. Nejlepší a nejhorší se škrtá</li>
<li><b>TOP 10</b> - @autor Olda - obdoba TOP 5, čeká se až bude dostatek lidí v žebříčku</li>
<li><b>T100</b> - @autor Tritas - součet kilometrů ujitých nad 100km, pokud učastník 100km neušel, počítá se mu rozdíl nejlepšího výkonu a 100. Tj např pro 80km máte T100 = -20</li>
</ul>

<h2>Statistiky by Tritas (léto 2011)</h2>
<ol>
<li><u>1. Součet</u>
<ol type="i">
<li>Gimli – 964,5</li>
<li>Tritas – 942,5</li>
<li>Eva – 911</li>
<li>Olda – 906</li>
<li>Martina Va. – 629</li>
<li>Zbyněk – 620,5</li>
<li>Jeffer – 597,5</li>
<li>Alča – 560,5</li>
<li>Lenka Bu. – 513</li>
<li>Pavel H. – 465</li>
</ol></li>
<li><u>2. Pořadí osobních rekordů na Dni Cesty:</u>
<ul>
<li>1.      Tritas 		124</li>
<li>2.      Martina	V.	122</li>
<li>3.-4.   Olda		110.5</li>
<li>3.-4.   Gimli		110.5</li>
<li>5.-7.   Alča		108</li>
<li>5.-7.   Martin Popel	108</li>
<li>5.-7.   Martin Pelikán	108</li>
<li>8.      David Stanovský	106</li>
<li>9.      Pavel Příhoda	105.5</li>
<li>10.-14. Martina P.	102</li>
<li>10.-14. Vít Hanousek	102</li>
<li>10.-14. Milan Vondrák	102</li>
<li>10.-14. Petr Komínek	102</li>
<li>10.-14. Petr Berlowiec	102</li>
<li>15.-16. Evajs 		101.5</li>
<li>15.-16. Martin Mach	101.5</li>
<li>17.	Pausa 		101</li>
<li>18. 	Pavel Houdek	100.5</li>
</ul>
</li>
<li><u>3. Top 5</u>
<ol type="i">
<li>1 OLDA 102,5</li>
<li>2 GIMLI 101,5</li>
<li>3 TRITAS 98,6</li>
<li>4 EVA 93,4</li>
<li>5 MARTINA Va. 84,7</li>
<li>6 ZBYNĚK 77,2</li>
<li>7 ALČA 74,7</li>
<li>8 PAVEL 65,8</li>
<li>9 LENKA Bu. 64,6</li>
<li>10 JEFFER 62,8</li>
<li>11 JAKUB Uh. 52,3</li>
</ol>
</li>
<li><u>Průměr - </u>
(alespoň dvě účasti a počítá se průměr přes všechny Dny Cesty, kterých se chodec účastnil)
<ol type="i">
<li>Martin Pelikán	104.8(2)</li>
<li>Tritas		94.3 (10)</li>
<li>Vít Hanousek 	90.5 (3)</li>
<li>Olda		82.4 (11)</li>
<li>Gimli 		80.4 (12)</li>
<li>Martin Popel	79.5 (4)</li>
<li>Martina V.	78.6 (8)</li>
<li>Evajs		75.9 (12)</li>
<li>Alča B. 	70.1 (8)</li>
</ol></li>
<li><u>Průměr od začátku účasti (by Alča) - </u>
(alespoň dvě účasti a počítá se průměr přes všechny Dny Cesty, i ty, kterých se chodec neúčastnil, avšak jen od první účasti chodce)
<ol>
<li>Gimli		74.2</li>
<li>Tritas 		72.5</li>
<li>Olda 		69.7</li>
<li>Eva		70.1</li>
<li>Alča 		70</li>
<li>Martina V.	62.9</li>
<li>Jeffer		49.8</li>
<li>Zbyňa		47.7</li>
<li>Vít Hanousek	45.3</li>
</ol></li>
<li><u>Počet účastí</u>
Tipuji něco jako .... Gimli+Evajs, Olda, Zbyňa+Jeff, Tritas, Lenka Bu., Alča+Martina ?, Uhlík ... ale už se mi to nechce hledat :)</li>
</ol>