<%#
# @author evajs
# @version Oct 28, 2012
%>

<h1 color="red">Den Cesty - podzim 2012</h1>
<h6 align="center">"Nejvíce účastníků v historii DC! Dorazili jsme na pól."</h6>

Den cesty je za námi. Opravená kilometráž vypadá následovně (včetně vašich nahlášených cílů). Výhrady můžete vznášet do 14.11.2012, poté budou výsledky prohlášeny za oficiální. V závorce jsou přiznaná zkrácení podle pravidel (tj. typický kufr). Dohromady jsme <b>ZATÍM</b> ušli <b>1842 km</b> což je průměrně <b>73,68 km</b> a medián je <b>79,5 km</b>. Nejvíce účastníků v historii DC! Dorazili jsme na pól.
<table cellpadding="5" cellspacing="1" border="1" align="center">
  <tr><th>Místo</th><th>Vzdálenost</th><th>Konec DC pro</th></tr>
  <tr><td>Brno-Obřany</td><td>0,0</td></tr>
  <tr><td>Bílovice nad Svitavou</td><td>4,5</td></tr>
  <tr><td>Babice nad Svitavou rozc.</td><td>10</td></tr>
  <tr><td>Rudice, Hájce</td><td>21</td></tr>
  <tr><td>Macocha</td><td>28</td></tr>
  <tr><td>Vavřinec</td><td>33,5</td><td>Ľuboš Uličný, Katka Uličná</td></tr>
  <tr><td>Petrovice</td><td>35,5</td><td>Martin Černohorská, Petra Hrochová</td></tr>
  <tr><td>Na Babylóně</td><td>42</td></tr>
  <tr><td>Boskovice, žst.</td><td>48</td><td>Anita Gregorová, Lada Peksová, Michal Mašek, Vojta Kapras, Pavel Kratochvíl, Veronika Nývltová, </td></tr>
  <tr><td>Pastvisko</td><td>53,5</td></tr>
  <tr><td>Vísky</td><td>58</td></tr>
  <tr><td>Kladoruby</td><td>62</td><td>Lukáš Ledvina, Pavel Veselý</td></tr>
  <tr><td>Velká Roudka</td><td>70,5</td></tr>
  <tr><td>Velké Opatovice</td><td>74</td><td>Tomáš Masařík, Láďa Láska</td></tr>
  <tr><td>Jevíčko</td><td>79,5</td><td>Zbyněk Pawlas (-2km), Jaroslav Raab, Martin Dungl, Tomáš Štec, Martin Töpfer</td></tr>
  <tr><td>Víska u Jevíčka</td><td>82</td></tr>
  <tr><td>Pod Hušákem</td><td>85</td></tr>
  <tr><td>Pacov</td><td>90</td></tr>
  <tr><td>Moravská Třebová, žst</td><td>98,5</td><td>Eva Černohorská, Honza Blažek, Tomáš Grepl, Adam Černoch</td></tr>
  <tr><td>Kunčina, most</td><td>100</td><td>Barbora Černíková, Pavel Příhoda</td></tr>
  <tr><td>Kunčina, kostely</td><td>103,5</td><td>Martina Vaváčková, Alexander Slávik, Marek Kurzępa</td></tr>
</table>
