<h1>Pravidla</h1>
<h6>verze 2.1, platná od 6/10/2013</h6>
Den Cesty je soutěž. Jako taková si vynucuje definovat co se smí a co se nesmí. Takže postupně:
<ol>
  <li>Den Cesty je outdoorový závod. Jako výsledek se počítá nejdelší souvislý úsek trasy ušlý v průběhu 24 hodin od času startu, ve směru od místa startu závodu. </li>
  <li>Den Cesty byl, je a snad i bude zábavou. Nejde o to vyhrát za každou cenu, zemřít na trase nebo bezohledně porušovat tato pravidla. Akce je založena na čestnosti každého účastníka.</li>
  <li>Akce se mohou účastnit pouze jedinci chápající a dodržující předchozí bod.</li>
  <li>Akce se mohou účastnit pouze účastníci s uhrazeným startovným.</li>
  <li>Účastníci mladší 18 let musí mít po celou dobu závodu doprovod osoby starší 18 let, která je zplnomocněna zákonným zástupcem tohoto účastníka.</li>
  <li><span class="red">Všichni účastníci podnikají akci na vlastní nebezpečí.</span></li>
  <li>Trasa:
    <ol>
      <li>Trasa je předem vybrána organizátory a předběžně přeměřena</li>
      <li>Trasa je vybavena kontrolními body.</li>
      <li>Trasa je podrobně popsána v itineráři, který účastník obdrží v místě startu. Účastník má možnost využít i mapy se zaznačenou trasou, kterou organizátoři poskytnou před začátkem závodu.</li>
      <li>Popis trasy nemusí odpovídat skutečnosti. Připadné nesrovnalosti se řeší následovně:
        <ul>
          <li>Trasa je přeznačena. Pak je možné jít jak dle nové značky, tak dle mapy. Liší-li se tato vzdálenost, je patřičně započítána.</li>
          <li>Značená trasa je zrušena (soukromý pozemek, plot, …), nebo není možné ji použít (jarní povodně, protržené rybníky a pod.). Počítá se nejkratší trasa po pozemních komunikacích a lesních či polních cestách (značené v podkladech Mapy.cz) použitelná pro vyhnutí se problematické oblasti. Ovšem pouze za předpokladu, že účastník toto, nebo jiné vyhnutí využije.</li>
        </ul></li>
      <li>Účastník se snaží jít po vyznačené trase. Pro ověření dodržení trasy jsou využity kontroly. Ujitá vzdálenost se započítává takto:
        <ul>
          <li>Pokud účastník bloudí (tj. nejde po vyznačené trase a stalo se to nedopatřením), ujitá vzdálenost se v tomto úseku (od bodu, kde na trase byl naposledy až do místa, kde se na trasu opět vrátil) zkrátí na vzdušnou vzdálenost.</li>
          <li>Pokud účastník záměrně zvolí jinou trasu (rozhodne se například v noci, že úsek projde po silnici namísto lesa), pak se mu tento úsek do výsledných kilometrů nepočítá vůbec.</li>
          <li>Účastník je povinnen projít všechny kontrolní body na trase, kterou hlásí do výsledků. Pokud některé body chybí, je započítána nejdelší souvislá vzdálenost, kde kontrolní body nechybí.</li>
          <li>Jestliže účastník ukončí (zahájí) zdolanou trasu mimo kontrolní bod, je mu do zdolané vzdálenosti započítán celý zdolaný úsek, tedy i se vzdáleností od posledního (prvního) zdolaného kontrolního bodu do místa ukončení (startu).</li>
        </ul></li>
      <li>Účastník smí dočasně opustit trasu a po návratu pokračovat z místa, ve kterém trasu opustil.</li>
    </ol></li>
  <li>Závod je zahájen odstartováním v místě startu. Závod je ukončen po 24 hodinách od času startu. Účastník s neuhrazeným startovným je povinen dorazit na start v dostatečném předstihu před předběžným časem startu, uveřejněným na stránkách závodu. Organizátor si vyhrazuje právo zahájit závod později, než je předběžný čas startu. </li>
  <li>K přepravě je možné použít pouze vlastní nohy. Nesmí být použit dopravní prostředek a k pohybu nesmí být využita cizí pomoc, a to ani během případného dočasného opuštění trasy. Porušením tohoto pravidla pro vás Den Cesty končí (další kilometry se nezapočítávají).</li>
  <li>Povolené vybavení jsou trekkingové hole, ortézy, GPS navigace.</li>
  <li>Povinnosti účastníka:
    <ol>
      <li>Účastník je povinen pocitvě měřit všechny odchylky od oficiální trasy, upozornit na nesrovnalosti v itineráři, nahlásit chybějící kontrolní bod na trase.</li>
      <li>Po skončení závodu je účastník povinen informovat organizátory o místě startu, projitých kontrolních bodech, místě ukončení a všech svých odchylkách od trasy. Průchod kontrolními body je účastník povinen doložit (typicky posláním nafoceného itineráře se záznamy z kontrol).</li>
      <li>Případě potřeby je účastník povinen poskytnout první pomoc. Neposkytnutí první pomoci je trestným činem, dle zákona č. 40/2009 Sb. a vede k diskfalifikaci ze závodu.</li>
    </ol></li>
  <li>Organizátoři si vyhrazují právo doživotně diskvalifikovat závodníka jednajícího v rozporu s "fair-play". </li>
</ol>
