Den Cesty je sout??. Jako taková si vynucuje definovat co se smí a co se nesmí. Tak?e postupn?:
<ul>
<li>Den cesty byl, je a snad i bude zábavou. Nejde o to vyhrát za ka?dou cenu, zem?ít na trase, nebo bezohledn? poru?ovat tato pravidla. Akce je zalo?ena na ?estnosti ka?dého ú?astníka.</li>
<li>Akce se mohou ú?astnit pouze jedinci chápající a dodr?ující p?edchozí bod.</li>
<li>Ú?astníci mlad?í 18 let musí mít po celou dobu závodu doprovod osoby star?í 18 let, která je zplnomocn?na zákonn?m zástupcem tohoto ú?astníka.</li>

<li><span class="red">V?ichni ú?astníci podnikají akci na vlastní nebezpe?í.</span></li>
<li>Trasa:
<ol>
<li>Trasa je p?edem vybrána organizátory a p?edb??n? p?em??ena</li>
<li>Trasa je zazna?ena v map?, kterou ú?astník obdr?í na startu</li>
<li>Ozna?ení trasy v map? nemusí odpovídat skute?nosti. P?ipadné nesrovnalosti se ?e?í následovn?:
<ul>
<li>Je-li trasa p?ezna?ena je mo?né jít jak podle nové zna?ky, tak dle mapy. Li?í-li se tato vzdálenost, je pat?i?n? zapo?ítána.</li>
<li>Zna?ená trasa je zru?ena (soukrom? pozemek, plot, …), nebo není mo?né ji pou?ít (jarní povodn?, protr?ené rybníky a pod.). Po?ítá se nejkrat?í trasa po pozemních komunikacích a lesních ?i polních cestách (zna?ené v K?T mapách) pou?itelná pro vyhnutí se problematické oblasti. Ov?em pouze za p?edpokladu, ?e ú?astník toto, nebo jiné vyhnutí vyu?ije.
</li></ul></li>
<li>Ú?astník se sna?í jít pouze po vyzna?ené trase. Jako v?sledek v sout??i se mu po?ítá úsek u?l? za 24 hodin. Nedodr?ení trasy se ?e?í takto:
<ul>
<li>Pokud ú?astník bloudí (tj. nejde po vyzna?ené trase a stalo se to nedopat?ením), ujitá vzdálenost se v tomto úseku (od bodu, kde na trase byl naposledy a? do místa, kde se na trasu op?t vrátil) zkrátí na vzdu?nou vzdálenost.</li>

<li>Pokud ú?astník zám?rn? zvolí jinou trasu (rozhodne se nap?íklad v noci, ?e úsek projde po silnici namísto lesa), pak se mu tento úsek do v?sledn?ch kilometr? nepo?ítá v?bec.</li>
</ul></li></ol></li>

<li>K p?eprav? je mo?né pou?ít pouze vlastní nohy. Nesmíte se nechat nést. Pou?itím dopravního prost?edku pro vás DC kon?í (dal?í kilometry se nezapo?ítávají).</li>
<li>Povolené vybavení jsou trekkingové hole, ortézy, GPS navigace.</li></ul>