<body><h1>Pravidla</h1>
<h6>verze 3, platná od 19/09/2020</h6>
Den cesty je soutěž. Jako taková si vynucuje definovat, co se smí a co se nesmí. Takže postupně:
<ol>
  <li>Den cesty je outdoorový závod. Jako výsledek se počítá souvislý úsek trasy ušlý v průběhu 24 hodin od času startu, ve směru od místa startu závodu. </li>
  <li>Den cesty byl, je a snad i bude zábavou. Nejde o to vyhrát za každou cenu, zemřít na trase nebo bezohledně porušovat tato pravidla. Akce je založena na čestnosti každého účastníka.</li>
  <li>Akce se mohou účastnit pouze účastníci dodržující předchozí bod.</li>
  <li>Akce se mohou účastnit pouze účastníci s uhrazeným startovným.</li>
  <li>Účastníci mladší 18 let musí mít po celou dobu závodu doprovod osoby starší 18 let, která je zplnomocněna zákonným zástupcem tohoto účastníka.</li>
  <li><span class="red">Všichni účastníci podnikají akci na vlastní nebezpečí.</span></li>
  <li>Každý závodník je po dobu závodu sledován mobilní aplikací k tomuto účelu vyvinutou. Způsob použití aplikace je popsán <%= link_to 'v návodu', tracker_info_path %>. Závodník má možnost vyzkoušet si běh aplikace před závodem a všechny závady řešit před závodem.
  </li>
  <li>Trasa:
    <ol>
      <li>Trasa je předem vybrána organizátory a předběžně přeměřena</li>
      <li>Trasa je podrobně popsána v itineráři, který účastník obdrží v místě startu. Účastník má možnost využít i mapy se zaznačenou trasou, kterou organizátoři poskytnou před začátkem závodu.</li>
      <li>Popis trasy nemusí odpovídat skutečnosti. Připadné nesrovnalosti se řeší následovně:
        <ul>
          <li>Trasa je přeznačena. Pak je možné jít jak dle nové značky, tak dle mapy. Liší-li se tato vzdálenost, je patřičně započítána.</li>
          <li>Značená trasa je zrušena (soukromý pozemek, plot, …), nebo není možné ji použít (jarní povodně, protržené rybníky a pod.). Počítá se nejkratší trasa po pozemních komunikacích a lesních či polních cestách (značené v podkladech mapy.cz) použitelná pro vyhnutí se problematické oblasti. Ovšem pouze za předpokladu, že účastník toto nebo jiné vyhnutí využije.</li>
        </ul></li>
      <li>Účastník se snaží jít po vyznačené trase a mít aplikaci v chodu (aplikace zaznamenává změnu polohy po cca 500m). Pro ověření dodržení trasy musí být využita výhradně aplikace poskytovaná organizátory. Úpravy oproti vyznačené trase se řeší následovně:
        <ul>
          <li>Pokud účastník bloudí (tj. nejde po vyznačené trase a stalo se to nedopatřením), ujitá vzdálenost se v tomto úseku (od bodu, kde na trase byl naposledy až do místa, kde se na trasu opět vrátil) zkrátí na vzdušnou vzdálenost.</li>
          <li>Pokud účastník záměrně zvolí jinou trasu (rozhodne se například v noci, že úsek projde po silnici namísto lesa), pak se mu tento úsek do výsledných kilometrů nepočítá vůbec.</li>
          <li>Účastník je povinnen nahlásit všechny odchylky od trasy, zejména v případě, kdy aplikace nebyla v provozu. Vhodným způsobem jsou tzv. selfie - fotografie pořízené na telefonu účastníka s významnými body na trase.</li>
        </ul>
      </li>
      <li>Účastník smí dočasně opustit trasu a po návratu pokračovat z místa, ve kterém trasu opustil.</li>
    </ol></li>
  <li>Závod je zahájen odstartováním v místě startu a zahájením závodu v aplikaci. Závod je ukončen buď ukončením trackování v aplikaci, nebo po 24 hodinách od času startu.</li>
  <li>Účastník s neuhrazeným startovným a možností platit startovné na místě startu je povinen dorazit na start v dostatečném předstihu před předběžným časem startu, uveřejněným na stránkách závodu. Organizátor si vyhrazuje právo zahájit závod později, než je předběžný čas startu. </li>
  <li>K přepravě je možné použít pouze vlastní nohy. Nesmí být použit dopravní prostředek a k pohybu nesmí být využita cizí pomoc, a to ani během případného dočasného opuštění trasy. Porušením tohoto pravidla pro vás Den cesty končí (další kilometry se nezapočítávají).</li>
  <li>Povinné vybavení obnáší nabitý mobil s trackovací aplikací (operační systém Android nebo iOS).</li>
  <li>Doporučené vybavení: teplé oblečení, spolehlivé světlo, lékárničku a termofólii.</li>
  <li>Povolené vybavení jsou trekkingové hole, ortézy, GPS navigace.</li>
  <li>Povinnosti účastníka:
    <ol>
      <li>Účastník je povinen pocitvě měřit všechny odchylky od oficiální trasy, upozornit na nesrovnalosti v itineráři.</li>
      <li>Neprodleně po skončení závodu je účastník povinen informovat organizátory o místě ukončení a to buď: ukončením trackování v aplikaci a odesláním záznamu na server nebo pomocí SMS.
      </li>
      <li>Do jednoho týdne po skončení závodu je účastník povinen informovat organizátory o všech svých odchylkách od trasy a doložit průchod čási trasy, která chybí na záznamu aplikace (nejlépe elektronickou poštou).</li>
      <li>V případě potřeby je účastník povinen poskytnout první pomoc. Neposkytnutí první pomoci je trestným činem dle zákona č. 40/2009 Sb. a vede k diskfalifikaci ze závodu.</li>
    </ol></li>
  <li>Trackovací aplikace Den cesty:
    <ol>
      <li> Organizátor si vyhrazuje právo záznamy z aplikace bez úprav zveřejnit na webových stránkách.
        <ul>
          <li><i>Pokud nevěříte svému telefonu nebo aplikaci, doporučujeme každých 5km pořídít selfie a fotky odeslat organizátorům.</i></li>
        </ul>
      </li>
      <li>Organizátor si vyhrazuje právo neuznat účastníkovi záznam z aplikace, který nebyl odeslán v průběhu závodu, nebo obsahuje jiné nesrovnalosti. Uznání selfie kontrol ani záznamu z aplikace nelze nárokovat.</li>
    </ol></li>
  <li>Organizátoři si vyhrazují právo doživotně diskvalifikovat závodníka jednajícího v rozporu s "fair-play". </li>
</ol>
</body>