<body><h1>Pravidla</h1>
<h6>verze 3.0., platná pro 30. Den cesty 26.-27.4.2019</h6>
Den cesty je soutěž. Jako taková si vynucuje definovat, co se smí a co se nesmí. Takže postupně:
<ol>
  <li>Den cesty je outdoorový závod. Jako výsledek se kilometráž ušlé trasy, pokud závodník dorazí do cíle ve 24 hodinovém limitu od času startu. </li>
  <li>Den cesty byl, je a snad i bude zábavou. U 30. DC toto platí mnohem silněji. Nejde o to vyhrát za každou cenu, zemřít na trase nebo bezohledně porušovat tato pravidla. Akce je založena na čestnosti každého účastníka.</li>
  <li>Akce se mohou účastnit pouze účastníci dodržující předchozí bod.</li>
  <li>Akce se mohou účastnit pouze účastníci s uhrazeným startovným.</li>
  <li>Účastníci mladší 18 let musí mít po celou dobu závodu doprovod osoby starší 18 let, která je zplnomocněna zákonným zástupcem tohoto účastníka.</li>
  <li><span class="red">Všichni účastníci podnikají akci na vlastní nebezpečí.</span></li>
  <li>Trasa:
    <ol>
      <li>Trasa je vybrána účastníkem a schválena organizátory (přeměřena a zadána na webu závodu)</li>
      <li>Trasa je vybavena kontrolními body.</li>
      <li>Trasa je popsána GPX souborem, který bude dostupný na webu závodu a odkazem na trasu v mapách: mapy.cz.</li>
      <li>Popis trasy nemusí odpovídat skutečnosti. Připadné nesrovnalosti se řeší následovně:
        <ul>
          <li>Trasa je přeznačena. Pak je možné jít jak dle nové značky, tak dle mapy. Liší-li se tato vzdálenost, je patřičně započítána.</li>
          <li>Značená trasa je zrušena (soukromý pozemek, plot, …), nebo není možné ji použít (jarní povodně, protržené rybníky a pod.). Počítá se nejkratší trasa po pozemních komunikacích a lesních či polních cestách (značené v podkladech mapy.cz) použitelná pro vyhnutí se problematické oblasti. Ovšem pouze za předpokladu, že účastník toto nebo jiné vyhnutí využije.</li>
        </ul></li>
      <li>Účastník se snaží jít po vyznačené trase. Pro ověření dodržení trasy jsou využity kontroly. Ujitá vzdálenost se započítává takto:
        <ul>
          <li>Pro započátání výsledku je nutné dorazit do cíle v časovém limitu, tj. do <span class="red">27.4. 18:30.</span></li>
          <li>Pokud účastník bloudí (tj. nejde po vyznačené trase a stalo se to nedopatřením), ujitá vzdálenost se v tomto úseku (od bodu, kde na trase byl naposledy až do místa, kde se na trasu opět vrátil) zkrátí na vzdušnou vzdálenost.</li>
          <li>Pokud účastník záměrně zvolí jinou trasu (rozhodne se například v noci, že úsek projde po silnici namísto lesa), pak se mu tento úsek do výsledných kilometrů nepočítá vůbec.</li>
          <li>Účastník je povinnen projít všechny kontrolní body na trase, kterou hlásí do výsledků. Pokud některé body chybí, je započítána nejdelší souvislá vzdálenost, kde kontrolní body nechybí.</li>
          <li>Jestliže účastník zahájí závod, jinde než na začátku trasy, je mu do zdolané vzdálenosti započítán pouze úsek ujitý po trase závodu. Předpokládá se zde smysl účastníka pro "fair-play".</li>
        </ul></li>
      <li>Účastník smí dočasně opustit trasu a po návratu pokračovat z místa, ve kterém trasu opustil.</li>
    </ol></li>
  <li>Závod lze považovat za zahájený po čase oficiálního startu. Závod je ukončen dosažením cíle nebo po 24 hodinách od času startu.</li>
  <li>K přepravě je možné použít pouze vlastní nohy. Nesmí být použit dopravní prostředek a k pohybu nesmí být využita cizí pomoc, a to ani během případného dočasného opuštění trasy. Porušením tohoto pravidla pro vás Den cesty končí (s výsledkem DNF).</li>
  <li>Povinné vybavení není stanoveno. Doporučené vybavení obnáší nabitý mobil, teplé oblečení, spolehlivé světlo, lékárničku a termofólii.</li>
  <li>Povolené vybavení jsou trekkingové hole, ortézy, GPS navigace.</li>
  <li>Kontrolní body a povinnosti účastníka:
    <ol>
      <li>Průchod kontrolním bodem je účastník povinen zaznačit do itineráře značkovačem. Tento značkovač je součástí kontroly.</li>
      <li>Chybí-li kontrolní bod nebo je-li kontrolní body nepoužitelný (chybí značkovač), je účastník povinen neprodleně o této skutečnosti informovat organizátory (nejlépe telefonicky). Dále je účastník povinen prokázat průchod kontrolním bodem jiným způsobem (fotografie "selfie", GPS log nebo zapamatování si nějakého detailu v blízkosti). V rámci telefonátu si účastníka organizátoři zapíší, lze tedy volat skupinově.</li>
      <li>Účastník je povinen pocitvě měřit všechny odchylky od oficiální trasy, upozornit na nesrovnalosti v itineráři.</li>
      <li>Pokud závodník nestartoval z místa hromadného startu, nebo v čase oficiálního startu trasy, je povinen v momentě, kdy zahajuje účast na závodě uvést své místo startu (a čas) pomocí SMS na telefon organizátora (776 009 870).
      </li>
      <li>Po dosažení cíle je účastník povinen nahlásit všechna zkrácení a nesrovnalosti na trase.</li>
      <li>V případě potřeby je účastník povinen poskytnout první pomoc. Neposkytnutí první pomoci je trestným činem dle zákona č. 40/2009 Sb. a vede k diskfalifikaci ze závodu.</li>
    </ol></li>
  <li>Trackovací aplikace Den cesty:
    <ol>
      <li> Záznam z trackovací aplikace Den cesty se považuje za alternativní důkaz průchodu kontrolními body. </li>
      <li> Účastník, který používá aplikaci Den cesty a jehož záznam z této aplikace bude k dispozici po skončení akce, není povinen značit do itineráře průchod těmi kontrolními body, jejichž průchod je prokazatelný ze záznamu z aplikace.
        <ul>
          <li><i>zejména u kontrol, kde se trasa vrací, doporučujeme stále používat značení do itineráře</i></li>
        </ul>
      </li>
      <li> Organizátor si vyhrazuje právo uznat účastníkovi kontrolní bod, jehož průchod není ze záznamu prokazatelný z důvodu technické chyby. Uznání takového průchodu však nelze nárokovat. </li>
    </ol></li>
  <li>Organizátoři si vyhrazují právo doživotně diskvalifikovat závodníka jednajícího v rozporu s "fair-play". </li>
</ol>
</body>