<h1>Rady</h1>
Za několik let pořádání Dne cesty jsme již nasbírali mnohé zkušenosti. Jejich výtah jsme se pokusili přehledně utřídit právě zde. Pokud se tedy chystáte jít poprvé a nebo jste připraveni na výkon hodný zápisu do historie, zde je seznam věcí na které byste něměli zapomenout.
<br /><br />
Co je důležité pokud se chystáte podat extrémní výkon:<br/>
<h5 align="center">PSYCHIKA:</h5>
<ul>
<li>Doporučuji <b>nechoď sám(a)</b>, zvláště pak přes noc. Samota tě pravděpodobně donutí DC ukončit dříve. Ovšem není parťák jako parťák ...
</li>
<li>Rozděl si trasu na kratší úseky, třeba po 5km. Etapy ti poskytnou potřebnou zpětnou vazbu. Do této kategorie patří: jak se cítím (před 5km mě koleno ještě nebolelo), jdu rychleji/pomaleji, doplnil jsem tekutiny/energii?, není třeba vyměnit baterky v čelovce? </li>
<li>Občas pomůže dát si <b>něco dobrého</b> (po 50km to začíná být ale problém pro netrénovaného člověka vůbec strávit)</li>
<li>Zazpívat si nebo jakkoli jinak <b>zapojit mozek</b></li>
<li><b>Vyloučit externí vlivy</b>: tj. nemít závazky na neděli, mít dostatek zásob a oblečení. Nejpozoruhodnější selhání najdeš v reportech z minulých DC.</li>
</ul>
<h5 align="center">FYZICKÝ STAV:</h5>
Tím se dostáváme do druhé obtížnější fáze, jak být v pohodě fyzicky. Zde opominu výše zmíněné výbavení je to důležité ale zvládnete to i bez maminky.
<ul>
<li><b>Dobrá obuv</b> - dobrá obuv je taková, která mi nevyrobí puchýře ani po 200km. Pokud jsi se ještě s takovou nesetkal(a), zkus navštívit běžecký speciál. Taky jsem dlouhou dobu nevěřil, že existují.</li>
<li>Proti únavě kolen je dobrý nějaký <b>kloubní vyživující krém</b>. V případě potřeby obinadlo. Pomáhá též došlapování přes špičku.</li>
<li>Proti únavě svalů doporučuji <b>francovku/alpu</b> ať už krém nebo tinkturu. Promasírovat cca na 40. kilometru a pak každých 10-20km. Taktéž <b>10-15minut přestávka v sedě</b> může pomoci - pokud už není příliš pozdě. Příliš pozdě se pozná tak, že každá zastávka způsobí ztuhnutí a bolest ve svalech při následném "rozcházení".</li>
<li>Hodí se i indulona (měsíčková) nebo jiná <b>mast na odřeniny a opruzeniny</b> (typická jsou třísla a musím říct, že to je bolest, která se po 10km stane nesnesitelnou). Pokud je možnost, je dobré si postižená místa umýt od soli.</li>
<li>Další dobrá věc je kobercovka nebo <b>náplast na puchýře</b> (roztahne puchýře do šířky a zamezí prodření). Výhodou oproti bežné náplasti je, že drží a drží.</li>
<li>Ke konci závodu je dobré se <b>"teple" obléci</b>. Tělo už je na pokraji sil a začíná šetřit úplně všude, tedy i na teplotě periferií (dlouhé kalhoty, rukavice).</li>

</ul>
Výživa patří taktéž do kategorie fyzické přípravy a doporučuji ji nepodcenit, zvláště pak pro extremisty (pokud šetříte tak tady pozor):
<ul>
<li>Vody spotřebujete hodně, ale zvládá se dotočit po cestě. Jsou i tací co zvládnou jet z jedné lahve (ale je to tak tak a musíte se opravdu starat abyste noc zvládli). Lepší než voda je mírně sladká voda (nebo více sladká), která vám dodává cukry a nemusíte se potom tolik hlídat co se stravy týče.</li>
<li>Jídlo by mělo obsahovat vitamíny a minerály před samotným DC (tj. klidně to mírně přežeňte z potravinovými doplňky ještě před DC, ale jen mírně). Na cestu se hodí něco standardního (houska se sýrem a salámem, kus zeleniny, vejce atd.) hlavně na první část pochodu (dokud vám chutná jíst) na druhé části začíná být problém do sebe nasoukat cokoliv, proto je lepší něco menšího s více energií (glukóza, čokoláda, čokoládová/musli tyčinka) nebo ta oslazená voda (to doporučuji). Jídla raději více a hlavně se ho snažte do sebe cpát. Předejdete tak <a href="http://cs.wikipedia.org/wiki/Hypoglykemie">hypoglykemickému šoku</a>. Energetická spotřeba na DC může být až trojnásobná oproti běžnému dni, proto je vhodné příjem energie zvýšit jak jen to bude možné.</li>
<li>Doplňky stravy: jontové nápoje, glukózové tuby a další výrobky pro náročné aktivity ano pomůžou vám i psychicky. Dejte si pozor na energetické nápoje a věci co obsahují povzbuzující látky (i když těch máte v těle sami dost). Pokud podobnou věc konzumujete (Shock, RedBull, Semtex, Erectus, káva nebo silný čaj) vězte, že tělu odstraňujete přirozené mantinely a zbavujete jej schopnosti reagovat na sníženou hladinu energie (a cukrů v krvi) - stejně tak jako když jste ve stresu nebo v napětí (endorfiny, adrenalin). Potom co tyto látky odezní má tělo tendence obnovit hladiny jontů a cukrů v krvi a vrátit se do normálu, tj. přijde na vás slabost a skutečně to s vámi může seknout. Doporučuji proto se vyvarovat energetickým nápojům hlavně před koncem vaší cesty (tělo už tou dobou pracuje s adrenalinem a endorfiny) naopak po ukončení závodu byste měli myslet na to, že tyto podpůrné látky vymizí a je dobré je nahradit (zde energydrink přijde vhod). V tu dobu totiž stres a napětí pomine a endorfiny a adrenalin z krve vymizí.</li></ul>
Volání o pomoc: pokud máte problém s koncentrací a fyzickými funkcemi (špatný zrak (mžitky, rozmazanost), šlapete si na jazyk když mluvíte, třesou se vám ruce nebo cokoli nestadardního, neváhejte volat 155, lepší dříve než později (nemusí vás nutně odvézt, ale třeba vám dobře poradí, když jim popíšete co máte za sebou a co máte za problémy). S tím související - nabijte si před DC mobil.