<h1>Rules of the race</h1>
Den Cesty (Walking day) is a competition. Therefore we have to define what is and is not possible. So:
<ul>
<li>Den cesty is outdoor walking/running race. As a result is used the longest continuous part of prepared trail passed during next 24 hours from start. </li>
<li>Den cesty was, is and possibly will be a fun. Is it not necessary to win for every price, die on a trail or ruthlessly brake this rules. Action is based on honestness of each participant.</li>
<li>Only individuals accepting previous rule can participate.</li>
<li>Participants (hereinafter walkers) less than 18 year old must be accompanied with person more than 18 years old during whole race. This person must be empowered by legal representative of walker.</li>
<li><span class="red">Everybody participate at one's own risk.</span></li>
<li>Route:
<ol>
<li>Route is selected by organizators and roughly measured.</li>
<li>The route is described in itinerary. Every walker obtains this itinerary on the race start. Walker can use maps prepared by organizators with marked route. This map will be offered before race start.</li>
<li>Description of route cannot match in reality. Any deviation will be solved as follows:
<ul>
<li>If the (marked) route is changed, it is possible to follow as selected route as new one. If length of both routes differ, result is corrected according to real length.</li>
<li>If marked route is canceled (private area, fence, …), or it is not possible to use marked route (spring floods, bursted ponds etc.), the shortest trail using roads and paths (marked in KČT maps) going around is counted. But if and only if walker uses this (or another) rounding path.</li>
</ul></li>
<li>Walker should follow selected route. Missing of route is solved as:
<ul>
<li>If walker loses the route (and this happend by mistake - inattention), reached distance in this part is shortened to air distance of the last (before route leaving) and first point (after route re-entry) on the marked route.</li>
<li>If different route is chosen deliberately (i.e. following road in the night instead of forest), this kilometers were not included into result distance.</li>
</ul></li></ol></li>
<li>For transportation is possible to use only own legs. It is not allowed to being carried. Usage of public transport or car, bike etc. finishes walker's race (following kilometers are not counted into results).</li>
<li>Permitted equipment are trekking sticks, imobilizers, GPS navigations.</li>
<li>Duty of each walker is mesurement of all deviations from official route, to notify problems in itinerary and to inform organizators about: place of his or her start, place of finish and all deviations from route.</li>
<li>Organizators reserves the right to disqualify each walker suspected from breaking this rules.</li>
</ul>