<h1>Rules</h1>
Den Cesty je soutěž. Jako taková si vynucuje definovat co se smí a co se nesmí. Takže postupně:
<ul>
<li>Den cesty byl, je a snad i bude zábavou. Nejde o to vyhrát za každou cenu, zemřít na trase, nebo bezohledně porušovat tato pravidla. Akce je založena na čestnosti každého účastníka.</li>
<li>Akce se mohou účastnit pouze jedinci chápající a dodržující předchozí bod.</li>
<li>Účastníci mladší 18 let musí mít po celou dobu závodu doprovod osoby starší 18 let, která je zplnomocněna zákonným zástupcem tohoto účastníka.</li>
<li><span class="red">Všichni účastníci podnikají akci na vlastní nebezpečí.</span></li>
<li>Trasa:
<ol>
<li>Trasa je předem vybrána organizátory a předběžně přeměřena</li>
<li>Trasa podrobně popsána v itineráři, který účastník obdrží na startu. Účastník má možnost využít i mapy se zaznačenou trasou, kterou organizátoři poskytnou před začátkem soutěže.</li>
<li>Popis trasy nemusí odpovídat skutečnosti. Připadné nesrovnalosti se řeší následovně:
<ul>
<li>Je-li trasa přeznačena je možné jít jak podle nové značky, tak dle mapy. Liší-li se tato vzdálenost, je patřičně započítána.</li>
<li>Značená trasa je zrušena (soukromý pozemek, plot, …), nebo není možné ji použít (jarní povodně, protržené rybníky a pod.). Počítá se nejkratší trasa po pozemních komunikacích a lesních či polních cestách (značené v KČT mapách) použitelná pro vyhnutí se problematické oblasti. Ovšem pouze za předpokladu, že účastník toto, nebo jiné vyhnutí využije.
</ul></li>
<li>Účastník se snaží jít pouze po vyznačené trase. Jako výsledek v soutěži se mu počítá úsek ušlý za 24 hodin. Nedodržení trasy se řeší takto:
<ul>
<li>Pokud účastník bloudí (tj. nejde po vyznačené trase a stalo se to nedopatřením), ujitá vzdálenost se v tomto úseku (od bodu, kde na trase byl naposledy až do místa, kde se na trasu opět vrátil) zkrátí na vzdušnou vzdálenost.</li>
<li>Pokud účastník záměrně zvolí jinou trasu (rozhodne se například v noci, že úsek projde po silnici namísto lesa), pak se mu tento úsek do výsledných kilometrů nepočítá vůbec.</li>
</ul></li></ol></li>
<li>K přepravě je možné použít pouze vlastní nohy. Nesmíte se nechat nést. Použitím dopravního prostředku pro vás DC končí (další kilometry se nezapočítávají).</li>
<li>Povolené vybavení jsou trekkingové hole, ortézy, GPS navigace.</li>
<li>Povinností účastníka je pocitvě měřit všechny odchylky od oficiální trasy, upozornit na nesrovnalosti v itineráři a po skončení závodu informovat organizátory o: místě startu, místě ukončení a všech svých odchylkách od trasy.</li>
<li>Organizátoři si vyhrazují právo účastníka podezřelého z porušování pravidel diskvalifikovat.</li>
</ul>