<h1>Rules of the race</h1>
<h6>version 3.0, valid for 30. Den cesty 27.-28.4.2019</h6>
Den Cesty (Walking day) is a competition. Therefore we have to define what is and is not possible. So:
<ul>
  <li>Den cesty is outdoor walking/running race. As a result is used the longest continuous part of a trail passed during before finish time. But it is obligate to reach the race finish location before time limit.</li>
  <li>Den cesty was, is and possibly will be a fun (especially 30th DC). Is it not necessary to win for every price, die on a trail or ruthlessly brake this rules. Action is based on honesty of each participant.</li>
  <li>Only individuals accepting previous rule can participate.</li>
  <li>Participants (hereinafter walkers) less than 18 year old must be accompanied with person more than 18 years old during whole race. This person must be empowered by legal representative of walker.</li>
  <li><span class="red">Everybody participate at one's own risk.</span></li>
  <li>Route:
    <ol>
      <li>Route is selected by competitors and evaluated by organizers (roughly measured, and published in race www).</li>
      <li>The trail is equiped with control points.</li>
      <li>The route is described in GPX, available on race www and by link to mapping service http://mapy.cz.</li>
      <li>Description of route cannot match in reality. Any deviation will be solved as follows:
        <ul>
          <li>If the (marked) route is changed, it is possible to follow as selected route as new one. If length of both routes differ, result is corrected according to real length.</li>
          <li>If marked route is canceled (private area, fence, …), or it is not possible to use marked route (spring floods, bursted ponds etc.), the shortest trail using roads and paths (marked in KČT maps) going around is counted. But if and only if walker uses this (or another) rounding path.</li>
        </ul>
      </li>
      <li>Walker should follow selected route. Missing of route is solved as:
        <ul>
          <li>If walker loses the route (and this happend by mistake - inattention), reached distance in this part is shortened to air distance of the last (before route leaving) and first point (after route re-entry) on the marked route.</li>
          <li>If different route is chosen deliberately (i.e. following road in the night instead of forest), this kilometers were not included into result distance.</li>
          <li>Each walker is obligate to go though all control points in tha race which is evaluated as a result. If some of this control points are missing, then as a result is used the longest continuous part of the trail with marked control points.</li>
          <li>If a walker starts elsewhere on the trail than in location of official start he/she must send the position and time of start to organizers (SMS to 776 009 870) as soon as possible.</li>
        </ul>
      </li>
      <li>A walker can leave temporarily the trail and after return he/she can continue from the place, where he leave the trail.</li>
    </ol>
  </li>
  <li>The race is launched in time of official start. The race is finished by achievement of the finish line or by time limit expiration.</li>
  <li>For transportation is possible to use only own legs. It is not allowed to being carried. Usage of public transport or car, bike etc. finishes walker's race (following kilometers are not counted into results).</li>
  <li>Permitted equipment are trekking sticks, immobilizers, GPS navigations.</li>
  <li>Duty of each walker is measurement of all deviations from official route, to inform organizators about all own deviations from official trail.</li>
  <li>Organizators reserves the right to disqualify each walker suspected from breaking this rules.</li>
</ul>