Ahoj <%= @walker.vokativ %>,
<p>
  píšeme Ti, protože máš nezaplacenou registraci na Den Cesty. Vzhledem k tomu, že chceme udržet minimální ceny, tiskneme pouze zaplacený textil a barevné mapy. Tobě se nepodařilo zaplatit do stanoveného data a proto jsme museli Tvou registraci upravit (rozuměj zrušit textil nebo barevnou mapu). Co v tvém startovním balíčku zůstalo a do kdy je třeba, aby došla Tvá platba je uvedeno v přehledu níže.
</p>
<%= render partial: "registrations/show", locals: {reg: @reg, dc_route: @dc_route} %>
<p>
  Naviděnou na startu se těší
</p>
<br />
za org. evajs, gimli, jeffer, martin, martin a olda