Ahoj <%= @walker.vokativ %>
<p>
stav tvé registrace jsme právě změnili:
</p>
<%= render partial: "registrations/show", locals: {reg: @reg} %>
<p>
Jak jsme avizovali při registraci, budeme tisknout pouze zaplacený textil a zaplacené mapy. Děkujeme za pochopení.
</p>
<p>
Budeme se těšit na startu.
</p>
<br />
za org. evajs, gimli, jeffer, martin, martin a olda