Mil<% if @walker.sex == 'female'%>á<% else %>ý<% end %> <%= @walker.vokativ %>,
<p>
  píšeme Ti, protože máš nezaplacenou registraci na <%= $dc.id %>. Den Cesty. Vzhledem k tomu, že chceme udržet minimální ceny, tiskneme pouze zaplacený textil a barevné mapy. Abychom pro Tebe vyrobili, vše, co chceš, je třeba, aby Tvé startovné bylo připsáno na náš účet do data uvedeného v přehledu níže. Pokud tomu tak nebude, budeme muset Tvůj textil nebo barevnou mapu zrušit.
</p>
<%= render partial: "registrations/show", locals: {reg: @reg} %>
<p>
  Naviděnou na startu se těší
</p>
za org. evajs, gimli, jeffer, martin, martin a olda
