/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

html {
	margin: 0px;
	background-color: black;	
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: black; 
}


.main-column {
	background-color: #000;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	width:100%;			/* width of whole page */	
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1270px;
}

.content {
	margin-top: 0px;
	display:inline-block;
	overflow:hidden;	
	width: 71%;
    min-width: 550px;
	background: white;
	border-left: 14px groove #ffb700; /*green*/
	min-height: 15em;
	z-index: 1;
}

.main-text {
	padding: 15px;
	padding-top: 5px;
}

.nav {
	display: block;
	vertical-align: top;
}

.hmenu {
	width: 71%;
	min-width: 800px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: right;
	font-size: 12pt; 
}

.hmenu a, a {
	color: #956f0e; /*green;*/
}

.hmenu a:active, a:active {
	color: #e2a91a; /*limegreen;*/
}

.hmenu a:hover, a:hover {
	color: #e2a91a;/* yellowgreen;*/
}

.hmenu a:visited, a:visited, .nav span {
	color: #c89000; /*#77aa00;*/
}

h1 {
	text-align: center
}

th.title {
	text-align: right;
	margin-right: 10px;
	width: 20%;
	vertical-align: top;
}

.red { color: red }
.darkred { color: darkred }
.darkorange { color: darkorange }

.bottom_line {
	border-collapse: collapse;
	border-bottom: 1px solid black
}

.right {
	text-align: right
}

.left {
	text-align: left
}

div#multicolumn1 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

table#summary {
	padding-top: 5px;
	padding-bottom: 5px;
/*background: url('/podzim_pozadi.jpg');*/
	background-color: #ffe8ac;/*#dec;*/
	border-spacing: 5px;
	width: 95%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.notice {
	color: red;
}

.alert {
	color: red;
	font-weight: bold;
}

#footer {
	bottom: 0px;
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

.potisk_left {
	height: 220px;
	float: right
}

.report-input {
	width: 100%
}

.justify {
	background-color: white;
	text-align: justify;
	padding: 10px
}

.report {
	background-color: lightgrey;
	border-radius: 3px;
	border: 1px dashed #ffb700 /*yellowgreen;*/
}

tr.even-table-line {
	background-color: lightgrey;
}
