/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.content {
	width:		75%;
	margin-left: auto;
	margin-right: auto;
	background: white;
	margin-top: 2em;
	border-left: 14px groove yellowgreen;
}

.main-text {
	padding: 15px;
	padding-top: 5px;
}

.nav {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.hmenu {
	width: 75%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

a {
	color: green;
}

a:active {
	color: limegreen;
}

a:hover {
	color: yellowgreen;
}

a:visited {
	color: #77aa00;
}

h1 {
	text-align: center
}

th.title {
	text-align: right;
	margin-right: 10px;
	width: 20%;
	vertical-align: top;
}

.red { color: red }
.darkred { color: darkred }
.darkorange { color: darkorange }

.bottom_line {
	border-collapse: collapse;
	border-bottom: 1px solid black
}

.right {
	text-align: right
}

.left {
	text-align: left
}

div#multicolumn1 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

table#summary {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dec;
	border-spacing: 5px;
	width: 95%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.notice {
	color: red;
}

.alert {
	color: red;
	font-weight: bold;
}