// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .dc-part-name {
	margin-bottom: -15px;
	margin-right: 20px;
	text-align: right;
	color: #ab7b00; /*green*/
}

.dc-part {
	border-radius: 15px;
	border: 1px dashed #ab7b00; /*limegreen*/
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.left-column {  
  width: 64%;
  display: inline-block;
  float: left;
}

.right-column { 
  width: 35%;
  display: inline-block;
  float: right;
}

.logo {
  width: 150px;
  text-align: right;
}

.registered {
  margin-left: 20%;  
  margin-bottom: 50px;
}

.right-column img {
  width: 100%;
}

.sponsors img {
  vertical-align: middle;
}

.sponsors {
  clear: both;  
  color: light-gray;
  padding: 10px; 
}

.itinerary {
  margin: 20px;
  width: 90%;
  border: 1px solid gray;
}

.itinerary th {
  border: 1px solid gray;
  padding: 3px;
}

.itinerary td {
  padding: 3px;
  border: 1px solid gray;
}
