
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	position:		relative;
	margin:			0px;
	padding-left:	0px;
	width:			auto;
	list-style:		none;
}

.sf-menu ul {
	position:		absolute;
	margin-left:	-1em;
	height:			0em;
	width:			10em; /* left offset of submenus need to match (see below) */
}

.sf-menu li {
	background-color: black;
	display:		block;
	color:			#b4850f; /*#eeeeee;*/
	float:			left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border:			2px ridge #b4850f;
	border-bottom:  2px solid black;
	padding: 		.3em 1em;
	text-decoration:none;
	position:		relative;
}

.sf-menu li li {
	display:		block;
	text-align:		center;
	width:			7.3em;
	border:			2px ridge #b4850f/*77aa00*/;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
}

.sf-menu li:hover {
	color:			#e2a91a; /*puvodne #ffffff*/
	background-color: #333;
	border:			2px groove #e2a91a; /*yellowgreen;*/
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}


.sf-menu a {
	color:			#b4850f/*77aa00*/;
	text-decoration: none;
}

.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:		#e2a91a;/*yellowgreen;*/
}

/*.sf-menu li:hover ul,*/
.sf-menu li.sfHover ul {
	top:			1.88em; /* match top ul list item height */
	z-index:		99;
}