/*
    Document   : walker_menu
    Created on : Apr 7, 2012, 11:20:41 PM
    Author     : gimli
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.walker-nav {
	float:left;
	position:relative;
	width:15%;			/* right column content width */
}

ul.walker-menu {
	margin-top: 0em;
	position: relative;
}

div.walker-nav ul {
	list-style-type: none;
}

div.walker-nav ul li ul {
	display: none;
	visibility: hidden;
	list-style:		none;
	position: absolute;

	left: 76%;
	margin-top: -1.7em;
}

div.walker-nav ul li {
	background-color: black;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border:	2px ridge #a6550 /*77aa00*/;
	border-right:  1px solid black;
	text-decoration:none;
	color:			#eeeeee;
	padding: .3em .3em;
}

div.walker-nav ul ul li {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	text-align:		center;
	border:			2px ridge #a6550 /*77aa00*/;
	width: 7.3em;
}

div.walker-nav ul li:hover {
	color:			#ffffff;
	background-color: #333;
	border:			2px groove yellowgreen;
	border-right:   1px solid #a6550 /*77aa00*/;
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.walker-nav a {
	color:			#a6550 /*77aa00*/;
	text-decoration: none;
}

.walker-nav a:focus, .walker-nav a:hover, .walker-nav a:active {
	color:		yellowgreen;
}

div.walker-nav ul li:hover > ul {
	display: block;
	visibility: visible;
	z-index:		99;
}

