<p>Ahoj,</p>

<p>Tento mail byl vygenerován na základě žádosti o nové heslo na portálu dencesty.cz. Pokračuj následujícím odkazem:</p>

<p><%= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Pokud jde o nevyžádanou poštu, nebo jsi si na heslo vzpoměl(a), zprávu prosím ignoruj.<br />

  Pěkný den přejeme<br />
  Den cesty team
</p>
